{
  "$schema": "http://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true
    },
    "target": "ESNext",
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs"
  }
}
